/* Put custom styles here. */
#right-nav-panel {
    width: calc((100vw - var(--sheldWidth) - 2px) /3);
    width: calc((100svw - var(--sheldWidth) - 2px) /3);
    /* width:210px */
}

.fillLeft .scrollableInner{
    padding: 0.5em 0em 0.5em 0.5em;
}

.fillLeft .scrollableInner{
    font-size: 10px;
}

#completion_prompt_manager #completion_prompt_manager_list li{
    grid-template-columns: 4fr 80px 20px;
}
#sheld{
    width:calc((100svw + var(--sheldWidth)*5 - 2px) /6);
    margin:0px 0px;
    left:calc((100vw - var(--sheldWidth))/2);

}
#top-settings-holder{
    width:calc((100svw + var(--sheldWidth)*5 - 2px) /6);
    margin:0px 0px;
    left:calc((100vw - var(--sheldWidth))/2);
}